__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

venv/
env/
.venv/

OrganizedImages/
HAM10000_images_part_1/
HAM10000_images_part_2/
HAM10000_metadata.csv

model_checkpoints_backup/
model_backup/
*_save_at_*.keras

static/uploads/*
!static/uploads/.gitkeep

plots/